<style>
    @font-face {
        font-family: brandon-grotesque;
        src: url("/assets/fonts/Brandon-Grotesque-Medium.ttf")
    }

    div {
        font-family: brandon-grotesque;
        color: #35394a;
        font-size: 28px;
        text-align: center;
    }

    div.tips {
        font-size: 58px;
        color: #FF8C05;
        margin-top: 100px;
    }
</style>

<div class="wrapper-md">
    <div class="tips">
        Error 401, No Permission
    </div>
    <div>This resources is not authorized</div>
</div>